.game-note {
    width: 100%;
    background-color: #929fba;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 3px;
}

.game-note-bottom-panel {
    width: 100%;
    min-height: 50px;
    height: 50px;
    background-color: yellow;
}