.game-note {
    width: 100%;
    background-color: #cddc39;
    height: 150px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 3px;
}

.game-note-bottom-panel {
    width: 100%;
    min-height: 50px;
    height: 50px;
    background-color: #827717;
    align-self: end;
    grid-row-start: 2;
}

.players-notes {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 3px;
}