.main-header {
    height: 150px;
    background-color:#1C2331;
    width: 100%;
    position: fixed;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    grid-column-gap: 3px;
}

.right-btns {
    display: grid;
}